/* site.scss */
// @import 'compass';
@import 'reset';
@import 'main';

body {
	background-color: #0a0a0a;
}

#weather-widget {
	
	.widget {
		// position: absolute;
		color: white;
		font-family: sans-serif;
		font-weight: bold;
		background: rgb(70,70,70); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(70,70,70,1) 0%, rgba(35,35,35,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,70,70,1)), color-stop(100%,rgba(35,35,35,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(70,70,70,1) 0%,rgba(35,35,35,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(70,70,70,1) 0%,rgba(35,35,35,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(70,70,70,1) 0%,rgba(35,35,35,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(70,70,70,1) 0%,rgba(35,35,35,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#232323',GradientType=0 ); /* IE6-9 */
	}

	.forecast {
		// height: 210px;
		// width: 706px;
		display: inline-block;

		.day {
			display: inline-block;
			width: 113px;
			height: 180px;
			margin: 10px 0 20px 0;
			padding-left: 27px;
			border-right: solid 1px #333;
			
			&:last-child {
				border-right: none;
			}

			.day-name {
				position: relative;
				top: 28px;
				font-size: 18px;
				text-transform: uppercase;
			}

			.weather-type {
				position: relative;
				top: 40px;
				height: 70px;
				width: 90px;
				background-image: url('../imgs/wuicons.png');
				background-repeat: no-repeat;

				&.tstorms {
					background-position: 0px 0px;	
				}

				&.sunny {
					background-position: 0px -140px;
				}

				&.snow {
					background-position: 0px -140px;	
				}

				&.sleet {
					background-position: 0px -210px;	
				}

				&.rain {
					background-position: 0px -280px;	
				}

				&.partlysunny {
					background-position: 0px -350px;
				}

				&.partlycloudy {
					background-position: 0px -420px;
				}

				&.mostlysunny {
					background-position: 0px -490px;	
				}

				&.mostlycloudy {
					background-position: 0px -560px;	
				}

				&.hazy {
					background-position: 0px -630px;	
				}

				&.fog {
					background-position: 0px -700px;	
				}

				&.flurries {
					background-position: 0px -770px;	
				}

				&.cloudy {
					background-position: 0px -840px;	
				}

				&.clear {
					background-position: 0px -910px;	
				}

				&.chancetstorms {
					background-position: 0px -980px;	
				}

				&.chancesnow {
					background-position: 0px -1050px;	
				}

				&.chancesleet {
					background-position: 0px -1120px;	
				}

				&.chancerain {
					background-position: 0px -1190px;	
				}

				&.chanceflurries {
					background-position: 0px -1260px;	
				}

				span {
					display: none;
				}
			}

			.temperature {
				position: relative;
				font-size: 14px;
				top: 60px;
			}
		}
	}
}


// 2e2e2e

// 171717
