<div class="day-name">{{date.weekday_short}}</div>
<div class="weather-type {{icon}}"></div>
<div class="temperature">
    <span class="high">{{high.fahrenheit}}ยบ</span>/<span class="low">{{low.fahrenheit}}ยบ</span>
</div>